.text {
  margin: 1vh 5vh 2vh 5vh;
}
.padding-top {
  padding-top: 6vh;
}
.padding-bottom {
  padding-bottom: 6vh;
}
* {
  outline: dotted red 1px;
}
body,
html {
  margin: 0;
  padding: ;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
  color: #262e3e;
}
header {
  background-color: #ffc10e;
}
header img {
  display: block;
  text-align: left;
  padding: 5% 15% 2% 15%;
}
#section1 {
  background-color: #ffc10e;
  background-image: url(images/Illustration.svg);
  background-repeat: no-repeat;
  background-position: 0 -4%;
  height: 25%;
  padding: 0 15%;
}
#section1 img {
  display: block;
  padding: 3% 0;
  margin: 0 auto;
}
#section1 h1 {
  font-size: 4.5em;
  font-weight: bold;
}
#section1 h3 {
  color: #ffffff;
  font-size: 2em;
  font-weight: 400;
}
#section2 {
  background-color: #ffffff;
  height: 60vh;
}
#section2 h1 {
  font-size: 3em;
  font-weight: bold;
}
#section2 h3 {
  font-size: 1.75em;
  font-weight: 400;
}
#section2 .image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
#section2 .image-container #sleep,
#section2 .image-container #beverage,
#section2 .image-container #run,
#section2 .image-container #fun {
  width: 25%;
  height: 50%;
  margin: auto;
}
#section3 {
  background-color: #ececec;
  height: 60vh;
}
#section4 {
  background-color: #ffffff;
  height: 60vh;
}
#section5 {
  background-color: #ececec;
  height: 60vh;
}
#section6 {
  background-color: #ffffff;
  height: 60vh;
}
footer {
  background-color: #ffc10e;
  height: 60vh;
}
