// dottopia 


// VARIABLES
@yellow: rgb(255,193,14);
@white: rgb(255,255,255);
@whisper: rgb(236,236,236);  // bg color 3rd section
  
@charcoal: rgb(38,46,62);
@biscay: rgb(49,61,79);   // footer text?








// UNIVERSAL CLASSES AND IDS

body, html {
  margin: 0;
  padding: 0;
}



// HEADER

header {
  background-color: @yellow;
}



//SECTION 1

#section1 {
  background-color: @yellow;
  height: 500vh;
  img {
    display: block;
    margin: 3% auto;
  }
  h1 {
    color: @charcoal;
  }
  h3 {
    color: @white;
  }
}
  

//SECTION 2

#section2 {
  background-color: @white;
  height: 60vh;
}
  

//SECTION 3

 #section3 {
  background-color: @whisper;
  height: 60vh;
}

  
//SECTION 4

#section4 {
  background-color: @white;
  height: 60vh;
}


//SECTION 5
  
#section5 {
  background-color: @whisper;
  height: 60vh;
}
  

//SECTION 6

#section6 {
  background-color: @white;
  height: 60vh;
}
  

//FOOTER
footer {
  background-color: @yellow;
  height: 60vh;
}