// dottopia 


// VARIABLES
@yellow: rgb(255,193,14);
@white: rgb(255,255,255);
@whisper: rgb(236,236,236);  // bg color 3rd section
  
@charcoal: rgb(38,46,62);
@biscay: rgb(49,61,79);   // footer text?








// UNIVERSAL CLASSES AND IDS

body, html {
  margin: 0;
  padding: 0;
}

header {
  background-color: @yellow;
}

#section1 {
  background-color: @yellow;
  height: 20vh;
}
  
#section2 {
  background-color: @white;
  height: 20vh;
}
  
 #section1 {
  background-color: @whisper;
   height: 20vh;
}

  
#section4 {
  background-color: @white;
  height: 20vh;
}
  
#section5 {
  background-color: @whisper;
  height: 20vh;
}
  
#section6 {
  background-color: @white;
  height: 20vh;
}
  
footer {
  background-color: @yellow;
  height: 20vh;
}