// dottopia 


// VARIABLES
@yellow: rgb(255,193,14);
@white: rgb(255,255,255);
@whisper: rgb(236,236,236;  // bg color 3rd section
  
@charcoal: rgb(38,46,62);
@biscay: rgb(49,61,79);   // footer text?








// UNIVERSAL CLASSES AND IDS

//body {
//  bg-color: @white;
//}

header {
  background-color: @yellow;
}

.section1 {
  background-color: @yellow;
}